* {
  margin: 0;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  /* outline: 1px solid white; */
}

body{
  background-color: #37474f;
  color: white;
}

.container{
  width: 85%;
  display: flex;
  justify-content: center;
}

.align-center{
  align-items: center;
}

.justify-center{
  justify-content: center;
}
.justify-end{
  justify-content: end;
}
.justify-start{
  justify-content: start;
}

.justify-spaceBetween{
  justify-content: space-between;
}

.wrap{
  flex-wrap: wrap;
}

.no-wrap{
  flex-wrap: nowrap;
}

.wrap-reverse{
  flex-wrap: wrap-reverse;
}